In [47]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pyspark.sql import SparkSession
from pyspark.ml.regression import LinearRegression
import pyspark.sql.functions as fn
import pyspark.ml.feature as ml

In [48]:
spark=SparkSession.builder.appName("Logistic Reggression").getOrCreate()

In [49]:
spark_df=spark.read.csv("/home/hdoop/Downloads/classification_2.csv",inferSchema=True,header=True)

In [50]:
spark_df.describe().show()

+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+------------+-------------------+-------+------------------+----------------+------------------+-----------+------+
|summary|               Age|  Work_Class|      Final_Weight|    Education| Education_Number|Marital_Status|       Occupation|Relationship|              Race |    Sex|      Capital_Gain|    Capital_Loss|    Hours_per_Week|    Country|Income|
+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+------------+-------------------+-------+------------------+----------------+------------------+-----------+------+
|  count|             32561|       32561|             32561|        32561|            32561|         32561|            32561|       32561|              32561|  32561|             32561|           32561|             32561|      32561| 32561|
|   mean| 38.58164675532078|        null|189778.36651208502|         null| 10.0806793403151|          null|             null|        null|               null|   null|1077.6488437087312| 87.303829734959|40.437455852092995|       null|  null|
| stddev|13.640432553581356|        null|105549.97769702227|         null|2.572720332067397|          null|             null|        null|               null|   null| 7385.292084840354|402.960218649002|12.347428681731838|       null|  null|
|    min|                17|           ?|             12285|         10th|                1|      Divorced|                ?|     Husband| Amer-Indian-Eskimo| Female|                 0|               0|                 1|          ?| <=50K|
|    max|                90| Without-pay|           1484705| Some-college|               16|       Widowed| Transport-moving|        Wife|              White|   Male|             99999|            4356|                99| Yugoslavia|  >50K|
+-------+------------------+------------+------------------+-------------+-----------------+--------------+-----------------+------------+-------------------+-------+------------------+----------------+------------------+-----------+------+

In [51]:
spark_df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Work_Class: string (nullable = true)
 |-- Final_Weight: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Education_Number: integer (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Relationship: string (nullable = true)
 |-- Race : string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Capital_Gain: integer (nullable = true)
 |-- Capital_Loss: integer (nullable = true)
 |-- Hours_per_Week: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Income: string (nullable = true)

In [52]:
spark_df.show()

+---+-----------------+------------+-------------+----------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+
|Age|       Work_Class|Final_Weight|    Education|Education_Number|      Marital_Status|        Occupation|  Relationship|              Race |    Sex|Capital_Gain|Capital_Loss|Hours_per_Week|       Country|Income|
+---+-----------------+------------+-------------+----------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+
| 39|        State-gov|       77516|    Bachelors|              13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male|        2174|           0|            40| United-States| <=50K|
| 50| Self-emp-not-inc|       83311|    Bachelors|              13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            13| United-States| <=50K|
| 38|          Private|      215646|      HS-grad|               9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|           0|           0|            40| United-States| <=50K|
| 53|          Private|      234721|         11th|               7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|           0|           0|            40| United-States| <=50K|
| 28|          Private|      338409|    Bachelors|              13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|           0|           0|            40|          Cuba| <=50K|
| 37|          Private|      284582|      Masters|              14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|           0|           0|            40| United-States| <=50K|
| 49|          Private|      160187|          9th|               5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|           0|           0|            16|       Jamaica| <=50K|
| 52| Self-emp-not-inc|      209642|      HS-grad|               9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            45| United-States|  >50K|
| 31|          Private|       45781|      Masters|              14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|       14084|           0|            50| United-States|  >50K|
| 42|          Private|      159449|    Bachelors|              13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|        5178|           0|            40| United-States|  >50K|
| 37|          Private|      280464| Some-college|              10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|           0|           0|            80| United-States|  >50K|
| 30|        State-gov|      141297|    Bachelors|              13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|           0|           0|            40|         India|  >50K|
| 23|          Private|      122272|    Bachelors|              13|       Never-married|      Adm-clerical|     Own-child|              White| Female|           0|           0|            30| United-States| <=50K|
| 32|          Private|      205019|   Assoc-acdm|              12|       Never-married|             Sales| Not-in-family|              Black|   Male|           0|           0|            50| United-States| <=50K|
| 40|          Private|      121772|    Assoc-voc|              11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|           0|           0|            40|             ?|  >50K|
| 34|          Private|      245487|      7th-8th|               4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|           0|           0|            45|        Mexico| <=50K|
| 25| Self-emp-not-inc|      176756|      HS-grad|               9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|           0|           0|            35| United-States| <=50K|
| 32|          Private|      186824|      HS-grad|               9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|           0|           0|            40| United-States| <=50K|
| 38|          Private|       28887|         11th|               7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|           0|           0|            50| United-States| <=50K|
| 43| Self-emp-not-inc|      292175|      Masters|              14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|           0|           0|            45| United-States|  >50K|
+---+-----------------+------------+-------------+----------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+
only showing top 20 rows

<h2>PreProcessing

Removing The Null Value

In [53]:
print(spark_df.columns)

['Age', 'Work_Class', 'Final_Weight', 'Education', 'Education_Number', 'Marital_Status', 'Occupation', 'Relationship', 'Race ', 'Sex', 'Capital_Gain', 'Capital_Loss', 'Hours_per_Week', 'Country', 'Income']

In [54]:
# Here the values are "?"
for col in spark_df.columns:
    try:
        spark_df=spark_df.filter(~fn.col(col).isin("?"))
    except:
        continue
spark_df.show()

+---+-----------------+------------+-------------+----------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+
|Age|       Work_Class|Final_Weight|    Education|Education_Number|      Marital_Status|        Occupation|  Relationship|              Race |    Sex|Capital_Gain|Capital_Loss|Hours_per_Week|       Country|Income|
+---+-----------------+------------+-------------+----------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+
| 39|        State-gov|       77516|    Bachelors|              13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male|        2174|           0|            40| United-States| <=50K|
| 50| Self-emp-not-inc|       83311|    Bachelors|              13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            13| United-States| <=50K|
| 38|          Private|      215646|      HS-grad|               9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|           0|           0|            40| United-States| <=50K|
| 53|          Private|      234721|         11th|               7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|           0|           0|            40| United-States| <=50K|
| 28|          Private|      338409|    Bachelors|              13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|           0|           0|            40|          Cuba| <=50K|
| 37|          Private|      284582|      Masters|              14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|           0|           0|            40| United-States| <=50K|
| 49|          Private|      160187|          9th|               5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|           0|           0|            16|       Jamaica| <=50K|
| 52| Self-emp-not-inc|      209642|      HS-grad|               9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            45| United-States|  >50K|
| 31|          Private|       45781|      Masters|              14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|       14084|           0|            50| United-States|  >50K|
| 42|          Private|      159449|    Bachelors|              13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|        5178|           0|            40| United-States|  >50K|
| 37|          Private|      280464| Some-college|              10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|           0|           0|            80| United-States|  >50K|
| 30|        State-gov|      141297|    Bachelors|              13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|           0|           0|            40|         India|  >50K|
| 23|          Private|      122272|    Bachelors|              13|       Never-married|      Adm-clerical|     Own-child|              White| Female|           0|           0|            30| United-States| <=50K|
| 32|          Private|      205019|   Assoc-acdm|              12|       Never-married|             Sales| Not-in-family|              Black|   Male|           0|           0|            50| United-States| <=50K|
| 40|          Private|      121772|    Assoc-voc|              11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|           0|           0|            40|             ?|  >50K|
| 34|          Private|      245487|      7th-8th|               4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|           0|           0|            45|        Mexico| <=50K|
| 25| Self-emp-not-inc|      176756|      HS-grad|               9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|           0|           0|            35| United-States| <=50K|
| 32|          Private|      186824|      HS-grad|               9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|           0|           0|            40| United-States| <=50K|
| 38|          Private|       28887|         11th|               7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|           0|           0|            50| United-States| <=50K|
| 43| Self-emp-not-inc|      292175|      Masters|              14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|           0|           0|            45| United-States|  >50K|
+---+-----------------+------------+-------------+----------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+
only showing top 20 rows

<h3> Encoding The Classification Columns

In [55]:
colums=list(spark_df.columns)
colums=['Work_Class','Education','Occupation','Country']
print(colums)
indexer=[ml.StringIndexer(inputCol=col,outputCol=col+"_encoded") for col in colums]

['Work_Class', 'Education', 'Occupation', 'Country']

Fitting in the data

In [56]:
from  pyspark.ml import Pipeline
pipeline=Pipeline(stages=indexer)
new_data=pipeline.fit(spark_df).transform(spark_df)
new_data.show()

+---+-----------------+------------+-------------+----------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+------------------+-----------------+------------------+---------------+
|Age|       Work_Class|Final_Weight|    Education|Education_Number|      Marital_Status|        Occupation|  Relationship|              Race |    Sex|Capital_Gain|Capital_Loss|Hours_per_Week|       Country|Income|Work_Class_encoded|Education_encoded|Occupation_encoded|Country_encoded|
+---+-----------------+------------+-------------+----------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+------------------+-----------------+------------------+---------------+
| 39|        State-gov|       77516|    Bachelors|              13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male|        2174|           0|            40| United-States| <=50K|               4.0|              2.0|               3.0|            0.0|
| 50| Self-emp-not-inc|       83311|    Bachelors|              13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            13| United-States| <=50K|               1.0|              2.0|               2.0|            0.0|
| 38|          Private|      215646|      HS-grad|               9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|           0|           0|            40| United-States| <=50K|               0.0|              0.0|               9.0|            0.0|
| 53|          Private|      234721|         11th|               7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|           0|           0|            40| United-States| <=50K|               0.0|              5.0|               9.0|            0.0|
| 28|          Private|      338409|    Bachelors|              13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|           0|           0|            40|          Cuba| <=50K|               0.0|              2.0|               0.0|            9.0|
| 37|          Private|      284582|      Masters|              14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|           0|           0|            40| United-States| <=50K|               0.0|              3.0|               2.0|            0.0|
| 49|          Private|      160187|          9th|               5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|           0|           0|            16|       Jamaica| <=50K|               0.0|             10.0|               5.0|           11.0|
| 52| Self-emp-not-inc|      209642|      HS-grad|               9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            45| United-States|  >50K|               1.0|              0.0|               2.0|            0.0|
| 31|          Private|       45781|      Masters|              14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|       14084|           0|            50| United-States|  >50K|               0.0|              3.0|               0.0|            0.0|
| 42|          Private|      159449|    Bachelors|              13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|        5178|           0|            40| United-States|  >50K|               0.0|              2.0|               2.0|            0.0|
| 37|          Private|      280464| Some-college|              10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|           0|           0|            80| United-States|  >50K|               0.0|              1.0|               2.0|            0.0|
| 30|        State-gov|      141297|    Bachelors|              13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|           0|           0|            40|         India|  >50K|               4.0|              2.0|               0.0|            8.0|
| 23|          Private|      122272|    Bachelors|              13|       Never-married|      Adm-clerical|     Own-child|              White| Female|           0|           0|            30| United-States| <=50K|               0.0|              2.0|               3.0|            0.0|
| 32|          Private|      205019|   Assoc-acdm|              12|       Never-married|             Sales| Not-in-family|              Black|   Male|           0|           0|            50| United-States| <=50K|               0.0|              6.0|               4.0|            0.0|
| 40|          Private|      121772|    Assoc-voc|              11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|           0|           0|            40|             ?|  >50K|               0.0|              4.0|               1.0|            2.0|
| 34|          Private|      245487|      7th-8th|               4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|           0|           0|            45|        Mexico| <=50K|               0.0|              8.0|               8.0|            1.0|
| 25| Self-emp-not-inc|      176756|      HS-grad|               9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|           0|           0|            35| United-States| <=50K|               1.0|              0.0|              10.0|            0.0|
| 32|          Private|      186824|      HS-grad|               9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|           0|           0|            40| United-States| <=50K|               0.0|              0.0|               6.0|            0.0|
| 38|          Private|       28887|         11th|               7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|           0|           0|            50| United-States| <=50K|               0.0|              5.0|               4.0|            0.0|
| 43| Self-emp-not-inc|      292175|      Masters|              14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|           0|           0|            45| United-States|  >50K|               1.0|              3.0|               2.0|            0.0|
+---+-----------------+------------+-------------+----------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+------------------+-----------------+------------------+---------------+
only showing top 20 rows

<h3>Scalling the Numeric Data

In [57]:
feature_column = ["Age","Hours_per_Week", "Capital_Gain"]

assemblers = [ml.VectorAssembler(inputCols=[col], outputCol=col + "_vector") for col in feature_column]
scalers = [ml.MinMaxScaler(inputCol=col + "_vector", outputCol=col + "_scaled") for col in feature_column]
pipeline = Pipeline(stages=assemblers+scalers)
scalerModel = pipeline.fit(new_data)
new_data = scalerModel.transform(new_data)

new_data.show()

+---+-----------------+------------+-------------+----------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+------------------+-----------------+------------------+---------------+----------+---------------------+-------------------+--------------------+---------------------+--------------------+
|Age|       Work_Class|Final_Weight|    Education|Education_Number|      Marital_Status|        Occupation|  Relationship|              Race |    Sex|Capital_Gain|Capital_Loss|Hours_per_Week|       Country|Income|Work_Class_encoded|Education_encoded|Occupation_encoded|Country_encoded|Age_vector|Hours_per_Week_vector|Capital_Gain_vector|          Age_scaled|Hours_per_Week_scaled| Capital_Gain_scaled|
+---+-----------------+------------+-------------+----------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+------------------+-----------------+------------------+---------------+----------+---------------------+-------------------+--------------------+---------------------+--------------------+
| 39|        State-gov|       77516|    Bachelors|              13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male|        2174|           0|            40| United-States| <=50K|               4.0|              2.0|               3.0|            0.0|    [39.0]|               [40.0]|           [2174.0]|[0.3013698630136986]| [0.39795918367346...|[0.02174021740217...|
| 50| Self-emp-not-inc|       83311|    Bachelors|              13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            13| United-States| <=50K|               1.0|              2.0|               2.0|            0.0|    [50.0]|               [13.0]|              [0.0]|[0.4520547945205479]| [0.12244897959183...|               [0.0]|
| 38|          Private|      215646|      HS-grad|               9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|           0|           0|            40| United-States| <=50K|               0.0|              0.0|               9.0|            0.0|    [38.0]|               [40.0]|              [0.0]|[0.2876712328767123]| [0.39795918367346...|               [0.0]|
| 53|          Private|      234721|         11th|               7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|           0|           0|            40| United-States| <=50K|               0.0|              5.0|               9.0|            0.0|    [53.0]|               [40.0]|              [0.0]|[0.4931506849315068]| [0.39795918367346...|               [0.0]|
| 28|          Private|      338409|    Bachelors|              13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|           0|           0|            40|          Cuba| <=50K|               0.0|              2.0|               0.0|            9.0|    [28.0]|               [40.0]|              [0.0]|[0.1506849315068493]| [0.39795918367346...|               [0.0]|
| 37|          Private|      284582|      Masters|              14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|           0|           0|            40| United-States| <=50K|               0.0|              3.0|               2.0|            0.0|    [37.0]|               [40.0]|              [0.0]| [0.273972602739726]| [0.39795918367346...|               [0.0]|
| 49|          Private|      160187|          9th|               5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|           0|           0|            16|       Jamaica| <=50K|               0.0|             10.0|               5.0|           11.0|    [49.0]|               [16.0]|              [0.0]|[0.4383561643835616]| [0.1530612244897959]|               [0.0]|
| 52| Self-emp-not-inc|      209642|      HS-grad|               9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            45| United-States|  >50K|               1.0|              0.0|               2.0|            0.0|    [52.0]|               [45.0]|              [0.0]|[0.4794520547945205]| [0.44897959183673...|               [0.0]|
| 31|          Private|       45781|      Masters|              14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|       14084|           0|            50| United-States|  >50K|               0.0|              3.0|               0.0|            0.0|    [31.0]|               [50.0]|          [14084.0]|[0.1917808219178082]| [0.49999999999999...|[0.14084140841408...|
| 42|          Private|      159449|    Bachelors|              13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|        5178|           0|            40| United-States|  >50K|               0.0|              2.0|               2.0|            0.0|    [42.0]|               [40.0]|           [5178.0]|[0.3424657534246575]| [0.39795918367346...|[0.05178051780517...|
| 37|          Private|      280464| Some-college|              10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|           0|           0|            80| United-States|  >50K|               0.0|              1.0|               2.0|            0.0|    [37.0]|               [80.0]|              [0.0]| [0.273972602739726]| [0.8061224489795917]|               [0.0]|
| 30|        State-gov|      141297|    Bachelors|              13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|           0|           0|            40|         India|  >50K|               4.0|              2.0|               0.0|            8.0|    [30.0]|               [40.0]|              [0.0]|[0.1780821917808219]| [0.39795918367346...|               [0.0]|
| 23|          Private|      122272|    Bachelors|              13|       Never-married|      Adm-clerical|     Own-child|              White| Female|           0|           0|            30| United-States| <=50K|               0.0|              2.0|               3.0|            0.0|    [23.0]|               [30.0]|              [0.0]|[0.0821917808219178]| [0.29591836734693...|               [0.0]|
| 32|          Private|      205019|   Assoc-acdm|              12|       Never-married|             Sales| Not-in-family|              Black|   Male|           0|           0|            50| United-States| <=50K|               0.0|              6.0|               4.0|            0.0|    [32.0]|               [50.0]|              [0.0]|[0.2054794520547945]| [0.49999999999999...|               [0.0]|
| 40|          Private|      121772|    Assoc-voc|              11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|           0|           0|            40|             ?|  >50K|               0.0|              4.0|               1.0|            2.0|    [40.0]|               [40.0]|              [0.0]|[0.3150684931506849]| [0.39795918367346...|               [0.0]|
| 34|          Private|      245487|      7th-8th|               4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|           0|           0|            45|        Mexico| <=50K|               0.0|              8.0|               8.0|            1.0|    [34.0]|               [45.0]|              [0.0]|[0.2328767123287671]| [0.44897959183673...|               [0.0]|
| 25| Self-emp-not-inc|      176756|      HS-grad|               9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|           0|           0|            35| United-States| <=50K|               1.0|              0.0|              10.0|            0.0|    [25.0]|               [35.0]|              [0.0]|[0.1095890410958904]| [0.3469387755102041]|               [0.0]|
| 32|          Private|      186824|      HS-grad|               9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|           0|           0|            40| United-States| <=50K|               0.0|              0.0|               6.0|            0.0|    [32.0]|               [40.0]|              [0.0]|[0.2054794520547945]| [0.39795918367346...|               [0.0]|
| 38|          Private|       28887|         11th|               7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|           0|           0|            50| United-States| <=50K|               0.0|              5.0|               4.0|            0.0|    [38.0]|               [50.0]|              [0.0]|[0.2876712328767123]| [0.49999999999999...|               [0.0]|
| 43| Self-emp-not-inc|      292175|      Masters|              14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|           0|           0|            45| United-States|  >50K|               1.0|              3.0|               2.0|            0.0|    [43.0]|               [45.0]|              [0.0]|[0.3561643835616438]| [0.44897959183673...|               [0.0]|
+---+-----------------+------------+-------------+----------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+------------------+-----------------+------------------+---------------+----------+---------------------+-------------------+--------------------+---------------------+--------------------+
only showing top 20 rows

Replacing the columns

In [58]:
new_data=new_data.withColumn("Work_Class",fn.col("Work_Class_encoded"))
new_data=new_data.withColumn("Education",fn.col("Education_encoded"))
new_data=new_data.withColumn("Occupation",fn.col("Occupation_encoded"))
new_data=new_data.withColumn("Country",fn.col("Country_encoded"))
new_data=new_data.withColumn("Hours_per_Week",fn.col("Hours_per_Week_scaled"))
new_data=new_data.withColumn("Age",fn.col("Age_scaled"))
new_data=new_data.withColumn("Capital_Gain",fn.col("Capital_Gain_scaled"))

In [59]:
print(new_data.columns)

['Age', 'Work_Class', 'Final_Weight', 'Education', 'Education_Number', 'Marital_Status', 'Occupation', 'Relationship', 'Race ', 'Sex', 'Capital_Gain', 'Capital_Loss', 'Hours_per_Week', 'Country', 'Income', 'Work_Class_encoded', 'Education_encoded', 'Occupation_encoded', 'Country_encoded', 'Age_vector', 'Hours_per_Week_vector', 'Capital_Gain_vector', 'Age_scaled', 'Hours_per_Week_scaled', 'Capital_Gain_scaled']

In [60]:
new_data.show()

+--------------------+----------+------------+---------+----------------+--------------------+----------+--------------+-------------------+-------+--------------------+------------+--------------------+-------+------+------------------+-----------------+------------------+---------------+----------+---------------------+-------------------+--------------------+---------------------+--------------------+
|                 Age|Work_Class|Final_Weight|Education|Education_Number|      Marital_Status|Occupation|  Relationship|              Race |    Sex|        Capital_Gain|Capital_Loss|      Hours_per_Week|Country|Income|Work_Class_encoded|Education_encoded|Occupation_encoded|Country_encoded|Age_vector|Hours_per_Week_vector|Capital_Gain_vector|          Age_scaled|Hours_per_Week_scaled| Capital_Gain_scaled|
+--------------------+----------+------------+---------+----------------+--------------------+----------+--------------+-------------------+-------+--------------------+------------+--------------------+-------+------+------------------+-----------------+------------------+---------------+----------+---------------------+-------------------+--------------------+---------------------+--------------------+
|[0.3013698630136986]|       4.0|       77516|      2.0|              13|       Never-married|       3.0| Not-in-family|              White|   Male|[0.02174021740217...|           0|[0.39795918367346...|    0.0| <=50K|               4.0|              2.0|               3.0|            0.0|    [39.0]|               [40.0]|           [2174.0]|[0.3013698630136986]| [0.39795918367346...|[0.02174021740217...|
|[0.4520547945205479]|       1.0|       83311|      2.0|              13|  Married-civ-spouse|       2.0|       Husband|              White|   Male|               [0.0]|           0|[0.12244897959183...|    0.0| <=50K|               1.0|              2.0|               2.0|            0.0|    [50.0]|               [13.0]|              [0.0]|[0.4520547945205479]| [0.12244897959183...|               [0.0]|
|[0.2876712328767123]|       0.0|      215646|      0.0|               9|            Divorced|       9.0| Not-in-family|              White|   Male|               [0.0]|           0|[0.39795918367346...|    0.0| <=50K|               0.0|              0.0|               9.0|            0.0|    [38.0]|               [40.0]|              [0.0]|[0.2876712328767123]| [0.39795918367346...|               [0.0]|
|[0.4931506849315068]|       0.0|      234721|      5.0|               7|  Married-civ-spouse|       9.0|       Husband|              Black|   Male|               [0.0]|           0|[0.39795918367346...|    0.0| <=50K|               0.0|              5.0|               9.0|            0.0|    [53.0]|               [40.0]|              [0.0]|[0.4931506849315068]| [0.39795918367346...|               [0.0]|
|[0.1506849315068493]|       0.0|      338409|      2.0|              13|  Married-civ-spouse|       0.0|          Wife|              Black| Female|               [0.0]|           0|[0.39795918367346...|    9.0| <=50K|               0.0|              2.0|               0.0|            9.0|    [28.0]|               [40.0]|              [0.0]|[0.1506849315068493]| [0.39795918367346...|               [0.0]|
| [0.273972602739726]|       0.0|      284582|      3.0|              14|  Married-civ-spouse|       2.0|          Wife|              White| Female|               [0.0]|           0|[0.39795918367346...|    0.0| <=50K|               0.0|              3.0|               2.0|            0.0|    [37.0]|               [40.0]|              [0.0]| [0.273972602739726]| [0.39795918367346...|               [0.0]|
|[0.4383561643835616]|       0.0|      160187|     10.0|               5| Married-spouse-a...|       5.0| Not-in-family|              Black| Female|               [0.0]|           0|[0.1530612244897959]|   11.0| <=50K|               0.0|             10.0|               5.0|           11.0|    [49.0]|               [16.0]|              [0.0]|[0.4383561643835616]| [0.1530612244897959]|               [0.0]|
|[0.4794520547945205]|       1.0|      209642|      0.0|               9|  Married-civ-spouse|       2.0|       Husband|              White|   Male|               [0.0]|           0|[0.44897959183673...|    0.0|  >50K|               1.0|              0.0|               2.0|            0.0|    [52.0]|               [45.0]|              [0.0]|[0.4794520547945205]| [0.44897959183673...|               [0.0]|
|[0.1917808219178082]|       0.0|       45781|      3.0|              14|       Never-married|       0.0| Not-in-family|              White| Female|[0.14084140841408...|           0|[0.49999999999999...|    0.0|  >50K|               0.0|              3.0|               0.0|            0.0|    [31.0]|               [50.0]|          [14084.0]|[0.1917808219178082]| [0.49999999999999...|[0.14084140841408...|
|[0.3424657534246575]|       0.0|      159449|      2.0|              13|  Married-civ-spouse|       2.0|       Husband|              White|   Male|[0.05178051780517...|           0|[0.39795918367346...|    0.0|  >50K|               0.0|              2.0|               2.0|            0.0|    [42.0]|               [40.0]|           [5178.0]|[0.3424657534246575]| [0.39795918367346...|[0.05178051780517...|
| [0.273972602739726]|       0.0|      280464|      1.0|              10|  Married-civ-spouse|       2.0|       Husband|              Black|   Male|               [0.0]|           0|[0.8061224489795917]|    0.0|  >50K|               0.0|              1.0|               2.0|            0.0|    [37.0]|               [80.0]|              [0.0]| [0.273972602739726]| [0.8061224489795917]|               [0.0]|
|[0.1780821917808219]|       4.0|      141297|      2.0|              13|  Married-civ-spouse|       0.0|       Husband| Asian-Pac-Islander|   Male|               [0.0]|           0|[0.39795918367346...|    8.0|  >50K|               4.0|              2.0|               0.0|            8.0|    [30.0]|               [40.0]|              [0.0]|[0.1780821917808219]| [0.39795918367346...|               [0.0]|
|[0.0821917808219178]|       0.0|      122272|      2.0|              13|       Never-married|       3.0|     Own-child|              White| Female|               [0.0]|           0|[0.29591836734693...|    0.0| <=50K|               0.0|              2.0|               3.0|            0.0|    [23.0]|               [30.0]|              [0.0]|[0.0821917808219178]| [0.29591836734693...|               [0.0]|
|[0.2054794520547945]|       0.0|      205019|      6.0|              12|       Never-married|       4.0| Not-in-family|              Black|   Male|               [0.0]|           0|[0.49999999999999...|    0.0| <=50K|               0.0|              6.0|               4.0|            0.0|    [32.0]|               [50.0]|              [0.0]|[0.2054794520547945]| [0.49999999999999...|               [0.0]|
|[0.3150684931506849]|       0.0|      121772|      4.0|              11|  Married-civ-spouse|       1.0|       Husband| Asian-Pac-Islander|   Male|               [0.0]|           0|[0.39795918367346...|    2.0|  >50K|               0.0|              4.0|               1.0|            2.0|    [40.0]|               [40.0]|              [0.0]|[0.3150684931506849]| [0.39795918367346...|               [0.0]|
|[0.2328767123287671]|       0.0|      245487|      8.0|               4|  Married-civ-spouse|       8.0|       Husband| Amer-Indian-Eskimo|   Male|               [0.0]|           0|[0.44897959183673...|    1.0| <=50K|               0.0|              8.0|               8.0|            1.0|    [34.0]|               [45.0]|              [0.0]|[0.2328767123287671]| [0.44897959183673...|               [0.0]|
|[0.1095890410958904]|       1.0|      176756|      0.0|               9|       Never-married|      10.0|     Own-child|              White|   Male|               [0.0]|           0|[0.3469387755102041]|    0.0| <=50K|               1.0|              0.0|              10.0|            0.0|    [25.0]|               [35.0]|              [0.0]|[0.1095890410958904]| [0.3469387755102041]|               [0.0]|
|[0.2054794520547945]|       0.0|      186824|      0.0|               9|       Never-married|       6.0|     Unmarried|              White|   Male|               [0.0]|           0|[0.39795918367346...|    0.0| <=50K|               0.0|              0.0|               6.0|            0.0|    [32.0]|               [40.0]|              [0.0]|[0.2054794520547945]| [0.39795918367346...|               [0.0]|
|[0.2876712328767123]|       0.0|       28887|      5.0|               7|  Married-civ-spouse|       4.0|       Husband|              White|   Male|               [0.0]|           0|[0.49999999999999...|    0.0| <=50K|               0.0|              5.0|               4.0|            0.0|    [38.0]|               [50.0]|              [0.0]|[0.2876712328767123]| [0.49999999999999...|               [0.0]|
|[0.3561643835616438]|       1.0|      292175|      3.0|              14|            Divorced|       2.0|     Unmarried|              White| Female|               [0.0]|           0|[0.44897959183673...|    0.0|  >50K|               1.0|              3.0|               2.0|            0.0|    [43.0]|               [45.0]|              [0.0]|[0.3561643835616438]| [0.44897959183673...|               [0.0]|
+--------------------+----------+------------+---------+----------------+--------------------+----------+--------------+-------------------+-------+--------------------+------------+--------------------+-------+------+------------------+-----------------+------------------+---------------+----------+---------------------+-------------------+--------------------+---------------------+--------------------+
only showing top 20 rows

<h4>Selecting the necessary columns for model

In [61]:
columns=["Age","Work_Class","Education","Occupation","Country","Hours_per_Week","Capital_Loss","Capital_Gain","Income"]
processed_data=new_data.select(*[col for col in columns])

In [62]:
processed_data.show()

+--------------------+----------+---------+----------+-------+--------------------+------------+--------------------+------+
|                 Age|Work_Class|Education|Occupation|Country|      Hours_per_Week|Capital_Loss|        Capital_Gain|Income|
+--------------------+----------+---------+----------+-------+--------------------+------------+--------------------+------+
|[0.3013698630136986]|       4.0|      2.0|       3.0|    0.0|[0.39795918367346...|           0|[0.02174021740217...| <=50K|
|[0.4520547945205479]|       1.0|      2.0|       2.0|    0.0|[0.12244897959183...|           0|               [0.0]| <=50K|
|[0.2876712328767123]|       0.0|      0.0|       9.0|    0.0|[0.39795918367346...|           0|               [0.0]| <=50K|
|[0.4931506849315068]|       0.0|      5.0|       9.0|    0.0|[0.39795918367346...|           0|               [0.0]| <=50K|
|[0.1506849315068493]|       0.0|      2.0|       0.0|    9.0|[0.39795918367346...|           0|               [0.0]| <=50K|
| [0.273972602739726]|       0.0|      3.0|       2.0|    0.0|[0.39795918367346...|           0|               [0.0]| <=50K|
|[0.4383561643835616]|       0.0|     10.0|       5.0|   11.0|[0.1530612244897959]|           0|               [0.0]| <=50K|
|[0.4794520547945205]|       1.0|      0.0|       2.0|    0.0|[0.44897959183673...|           0|               [0.0]|  >50K|
|[0.1917808219178082]|       0.0|      3.0|       0.0|    0.0|[0.49999999999999...|           0|[0.14084140841408...|  >50K|
|[0.3424657534246575]|       0.0|      2.0|       2.0|    0.0|[0.39795918367346...|           0|[0.05178051780517...|  >50K|
| [0.273972602739726]|       0.0|      1.0|       2.0|    0.0|[0.8061224489795917]|           0|               [0.0]|  >50K|
|[0.1780821917808219]|       4.0|      2.0|       0.0|    8.0|[0.39795918367346...|           0|               [0.0]|  >50K|
|[0.0821917808219178]|       0.0|      2.0|       3.0|    0.0|[0.29591836734693...|           0|               [0.0]| <=50K|
|[0.2054794520547945]|       0.0|      6.0|       4.0|    0.0|[0.49999999999999...|           0|               [0.0]| <=50K|
|[0.3150684931506849]|       0.0|      4.0|       1.0|    2.0|[0.39795918367346...|           0|               [0.0]|  >50K|
|[0.2328767123287671]|       0.0|      8.0|       8.0|    1.0|[0.44897959183673...|           0|               [0.0]| <=50K|
|[0.1095890410958904]|       1.0|      0.0|      10.0|    0.0|[0.3469387755102041]|           0|               [0.0]| <=50K|
|[0.2054794520547945]|       0.0|      0.0|       6.0|    0.0|[0.39795918367346...|           0|               [0.0]| <=50K|
|[0.2876712328767123]|       0.0|      5.0|       4.0|    0.0|[0.49999999999999...|           0|               [0.0]| <=50K|
|[0.3561643835616438]|       1.0|      3.0|       2.0|    0.0|[0.44897959183673...|           0|               [0.0]|  >50K|
+--------------------+----------+---------+----------+-------+--------------------+------------+--------------------+------+
only showing top 20 rows

Replacing Income By 0 and 1

In [63]:
processed_data=processed_data.withColumn('Income',fn.trim(fn.col('Income')))

In [64]:
processed_data=processed_data.withColumn('Income',fn.when(fn.col('Income') == '>50K',1).otherwise(0))
processed_data.show()

+--------------------+----------+---------+----------+-------+--------------------+------------+--------------------+------+
|                 Age|Work_Class|Education|Occupation|Country|      Hours_per_Week|Capital_Loss|        Capital_Gain|Income|
+--------------------+----------+---------+----------+-------+--------------------+------------+--------------------+------+
|[0.3013698630136986]|       4.0|      2.0|       3.0|    0.0|[0.39795918367346...|           0|[0.02174021740217...|     0|
|[0.4520547945205479]|       1.0|      2.0|       2.0|    0.0|[0.12244897959183...|           0|               [0.0]|     0|
|[0.2876712328767123]|       0.0|      0.0|       9.0|    0.0|[0.39795918367346...|           0|               [0.0]|     0|
|[0.4931506849315068]|       0.0|      5.0|       9.0|    0.0|[0.39795918367346...|           0|               [0.0]|     0|
|[0.1506849315068493]|       0.0|      2.0|       0.0|    9.0|[0.39795918367346...|           0|               [0.0]|     0|
| [0.273972602739726]|       0.0|      3.0|       2.0|    0.0|[0.39795918367346...|           0|               [0.0]|     0|
|[0.4383561643835616]|       0.0|     10.0|       5.0|   11.0|[0.1530612244897959]|           0|               [0.0]|     0|
|[0.4794520547945205]|       1.0|      0.0|       2.0|    0.0|[0.44897959183673...|           0|               [0.0]|     1|
|[0.1917808219178082]|       0.0|      3.0|       0.0|    0.0|[0.49999999999999...|           0|[0.14084140841408...|     1|
|[0.3424657534246575]|       0.0|      2.0|       2.0|    0.0|[0.39795918367346...|           0|[0.05178051780517...|     1|
| [0.273972602739726]|       0.0|      1.0|       2.0|    0.0|[0.8061224489795917]|           0|               [0.0]|     1|
|[0.1780821917808219]|       4.0|      2.0|       0.0|    8.0|[0.39795918367346...|           0|               [0.0]|     1|
|[0.0821917808219178]|       0.0|      2.0|       3.0|    0.0|[0.29591836734693...|           0|               [0.0]|     0|
|[0.2054794520547945]|       0.0|      6.0|       4.0|    0.0|[0.49999999999999...|           0|               [0.0]|     0|
|[0.3150684931506849]|       0.0|      4.0|       1.0|    2.0|[0.39795918367346...|           0|               [0.0]|     1|
|[0.2328767123287671]|       0.0|      8.0|       8.0|    1.0|[0.44897959183673...|           0|               [0.0]|     0|
|[0.1095890410958904]|       1.0|      0.0|      10.0|    0.0|[0.3469387755102041]|           0|               [0.0]|     0|
|[0.2054794520547945]|       0.0|      0.0|       6.0|    0.0|[0.39795918367346...|           0|               [0.0]|     0|
|[0.2876712328767123]|       0.0|      5.0|       4.0|    0.0|[0.49999999999999...|           0|               [0.0]|     0|
|[0.3561643835616438]|       1.0|      3.0|       2.0|    0.0|[0.44897959183673...|           0|               [0.0]|     1|
+--------------------+----------+---------+----------+-------+--------------------+------------+--------------------+------+
only showing top 20 rows

<h3>Adding the feature

In [65]:
train,test=processed_data.randomSplit([0.8,0.3])

In [66]:
print(processed_data.columns)
feature_column=['Age', 'Work_Class', 'Education', 'Occupation', 'Country','Hours_per_Week', 'Capital_Loss', 'Capital_Gain']

['Age', 'Work_Class', 'Education', 'Occupation', 'Country', 'Hours_per_Week', 'Capital_Loss', 'Capital_Gain', 'Income']

In [67]:
assemblers = ml.VectorAssembler(inputCols=feature_column ,outputCol="features")

new_data = assemblers.transform(processed_data)

In [68]:
new_data.show()

+--------------------+----------+---------+----------+-------+--------------------+------------+--------------------+------+--------------------+
|                 Age|Work_Class|Education|Occupation|Country|      Hours_per_Week|Capital_Loss|        Capital_Gain|Income|            features|
+--------------------+----------+---------+----------+-------+--------------------+------------+--------------------+------+--------------------+
|[0.3013698630136986]|       4.0|      2.0|       3.0|    0.0|[0.39795918367346...|           0|[0.02174021740217...|     0|[0.30136986301369...|
|[0.4520547945205479]|       1.0|      2.0|       2.0|    0.0|[0.12244897959183...|           0|               [0.0]|     0|[0.45205479452054...|
|[0.2876712328767123]|       0.0|      0.0|       9.0|    0.0|[0.39795918367346...|           0|               [0.0]|     0|(8,[0,3,5],[0.287...|
|[0.4931506849315068]|       0.0|      5.0|       9.0|    0.0|[0.39795918367346...|           0|               [0.0]|     0|(8,[0,2,3,5],[0.4...|
|[0.1506849315068493]|       0.0|      2.0|       0.0|    9.0|[0.39795918367346...|           0|               [0.0]|     0|(8,[0,2,4,5],[0.1...|
| [0.273972602739726]|       0.0|      3.0|       2.0|    0.0|[0.39795918367346...|           0|               [0.0]|     0|(8,[0,2,3,5],[0.2...|
|[0.4383561643835616]|       0.0|     10.0|       5.0|   11.0|[0.1530612244897959]|           0|               [0.0]|     0|[0.43835616438356...|
|[0.4794520547945205]|       1.0|      0.0|       2.0|    0.0|[0.44897959183673...|           0|               [0.0]|     1|(8,[0,1,3,5],[0.4...|
|[0.1917808219178082]|       0.0|      3.0|       0.0|    0.0|[0.49999999999999...|           0|[0.14084140841408...|     1|(8,[0,2,5,7],[0.1...|
|[0.3424657534246575]|       0.0|      2.0|       2.0|    0.0|[0.39795918367346...|           0|[0.05178051780517...|     1|[0.34246575342465...|
| [0.273972602739726]|       0.0|      1.0|       2.0|    0.0|[0.8061224489795917]|           0|               [0.0]|     1|(8,[0,2,3,5],[0.2...|
|[0.1780821917808219]|       4.0|      2.0|       0.0|    8.0|[0.39795918367346...|           0|               [0.0]|     1|[0.17808219178082...|
|[0.0821917808219178]|       0.0|      2.0|       3.0|    0.0|[0.29591836734693...|           0|               [0.0]|     0|(8,[0,2,3,5],[0.0...|
|[0.2054794520547945]|       0.0|      6.0|       4.0|    0.0|[0.49999999999999...|           0|               [0.0]|     0|(8,[0,2,3,5],[0.2...|
|[0.3150684931506849]|       0.0|      4.0|       1.0|    2.0|[0.39795918367346...|           0|               [0.0]|     1|[0.31506849315068...|
|[0.2328767123287671]|       0.0|      8.0|       8.0|    1.0|[0.44897959183673...|           0|               [0.0]|     0|[0.23287671232876...|
|[0.1095890410958904]|       1.0|      0.0|      10.0|    0.0|[0.3469387755102041]|           0|               [0.0]|     0|(8,[0,1,3,5],[0.1...|
|[0.2054794520547945]|       0.0|      0.0|       6.0|    0.0|[0.39795918367346...|           0|               [0.0]|     0|(8,[0,3,5],[0.205...|
|[0.2876712328767123]|       0.0|      5.0|       4.0|    0.0|[0.49999999999999...|           0|               [0.0]|     0|(8,[0,2,3,5],[0.2...|
|[0.3561643835616438]|       1.0|      3.0|       2.0|    0.0|[0.44897959183673...|           0|               [0.0]|     1|[0.35616438356164...|
+--------------------+----------+---------+----------+-------+--------------------+------------+--------------------+------+--------------------+
only showing top 20 rows

<h3>Spliting The data

In [69]:
train_df,test_df=new_data.randomSplit([0.8,0.2])

In [70]:
train_df = train_df.withColumn("Income", fn.col("Income").cast("double"))
test_df = test_df.withColumn("Income", fn.col("Income").cast("double"))

<h2> Fitting The model

In [71]:
from pyspark.ml.classification import LogisticRegression
regr = LogisticRegression(featuresCol='features', labelCol='Income')

# Fit the model to the training data
regr_model = regr.fit(train_df)

In [72]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [73]:
predections=regr_model.transform(test_df)

In [74]:
predections.show()

+-----+----------+---------+----------+-------+--------------------+------------+--------------------+------+--------------------+--------------------+--------------------+----------+
|  Age|Work_Class|Education|Occupation|Country|      Hours_per_Week|Capital_Loss|        Capital_Gain|Income|            features|       rawPrediction|         probability|prediction|
+-----+----------+---------+----------+-------+--------------------+------------+--------------------+------+--------------------+--------------------+--------------------+----------+
|[0.0]|       0.0|      0.0|       3.0|    0.0|[0.19387755102040...|           0|               [0.0]|   0.0|(8,[3,5],[3.0,0.1...|[3.32713002978421...|[0.96534789348172...|       0.0|
|[0.0]|       0.0|      0.0|       4.0|    0.0|[0.19387755102040...|           0|               [0.0]|   0.0|(8,[3,5],[4.0,0.1...|[3.45508065386226...|[0.96938229591713...|       0.0|
|[0.0]|       0.0|      0.0|       5.0|    1.0|[0.3469387755102041]|           0|               [0.0]|   0.0|(8,[3,4,5],[5.0,1...|[2.92387155905105...|[0.94901395613355...|       0.0|
|[0.0]|       0.0|      5.0|       1.0|    0.0|[0.1530612244897959]|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,1...|[3.22775390794083...|[0.96186545100082...|       0.0|
|[0.0]|       0.0|      5.0|       3.0|    0.0|[0.11224489795918...|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,3...|[3.66158246578395...|[0.97495171209886...|       0.0|
|[0.0]|       0.0|      5.0|       3.0|    0.0|[0.1530612244897959]|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,3...|[3.48365515609692...|[0.97021911393388...|       0.0|
|[0.0]|       0.0|      5.0|       4.0|    0.0|[0.11224489795918...|        1602|               [0.0]|   0.0|(8,[2,3,5,6],[5.0...|[2.59140654257233...|[0.93030646741531...|       0.0|
|[0.0]|       0.0|      5.0|       4.0|    0.0|[0.14285714285714...|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,4...|[3.65608760759673...|[0.97481717209199...|       0.0|
|[0.0]|       0.0|      5.0|       4.0|    0.0|[0.14285714285714...|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,4...|[3.65608760759673...|[0.97481717209199...|       0.0|
|[0.0]|       0.0|      5.0|       4.0|    0.0|[0.14285714285714...|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,4...|[3.65608760759673...|[0.97481717209199...|       0.0|
|[0.0]|       0.0|      5.0|       4.0|    0.0|[0.19387755102040...|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,4...|[3.43367847048794...|[0.96874065220790...|       0.0|
|[0.0]|       0.0|      5.0|       4.0|    0.0|[0.19387755102040...|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,4...|[3.43367847048794...|[0.96874065220790...|       0.0|
|[0.0]|       0.0|      5.0|       4.0|    0.0|[0.19387755102040...|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,4...|[3.43367847048794...|[0.96874065220790...|       0.0|
|[0.0]|       0.0|      5.0|       4.0|    0.0|[0.2755102040816326]|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,4...|[3.07782385111389...|[0.95596867574794...|       0.0|
|[0.0]|       0.0|      5.0|       4.0|    8.0|[0.17346938775510...|           0|[0.01055010550105...|   0.0|[0.0,0.0,5.0,4.0,...|[3.24226976804032...|[0.96239434200897...|       0.0|
|[0.0]|       0.0|      5.0|       5.0|    0.0|[0.06122448979591...|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,5...|[4.13989285104882...|[0.98432505879313...|       0.0|
|[0.0]|       0.0|      5.0|       5.0|    0.0|[0.09183673469387...|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,5...|[4.00644736878356...|[0.98212731482200...|       0.0|
|[0.0]|       0.0|      5.0|       5.0|    0.0|[0.11224489795918...|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,5...|[3.91748371394004...|[0.98049685520026...|       0.0|
|[0.0]|       0.0|      5.0|       5.0|    0.0|[0.11224489795918...|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,5...|[3.91748371394004...|[0.98049685520026...|       0.0|
|[0.0]|       0.0|      5.0|       5.0|    0.0|[0.14285714285714...|           0|               [0.0]|   0.0|(8,[2,3,5],[5.0,5...|[3.78403823167477...|[0.97777448781203...|       0.0|
+-----+----------+---------+----------+-------+--------------------+------------+--------------------+------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

Type casting

In [76]:
predect_data = predections.withColumn("prediction", predections["prediction"].cast("double"))
predect_data= predections.withColumn("label", predections["Income"].cast("double"))

<h4> Calculating the accuracy of model

In [78]:
evaluator = MulticlassClassificationEvaluator(metricName="accuracy")
accuracy=evaluator.evaluate(predect_data)
print(accuracy)

0.8021599624354359